.container{
    display: flex;
    flex-direction: column;
    width: 100px;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
    align-items: center;
}

.light{
    width: 60px;
    height: 60px;
    margin: 10px 0;
    border-radius: 50%;
    background-color: rgb(1, 1, 2);
    opacity: 0.4;
    transition: opacity 0.5 ease;
}

.red.active{
    background-color: red;
    opacity: 1;
}

.yellow.active{
    background-color: yellow;
    opacity: 1;
}

.green.active{
    background-color: green;
    opacity: 1;
}